:root {
  --background: oklch(98% 0.002 256.1);
  --foreground: oklch(37% 0.039 256.1);
  --card: oklch(100% 0.002 256.1);
  --card-foreground: oklch(37% 0.039 256.1);
  --popover: oklch(102.5% 0.002 256.1);
  --popover-foreground: oklch(37% 0.039 256.1);
  --primary: oklch(61.517% 0.21082 256.1);
  --primary-foreground: oklch(96% 0.015 256.1);
  --secondary: oklch(97.5% 0.002 256.1);
  --secondary-foreground: oklch(42% 0.019 256.1);
  --muted: oklch(95% 0.002 256.1);
  --muted-foreground: oklch(42% 0.019 256.1);
  --accent: oklch(92% 0.04 256.1);
  --accent-foreground: oklch(42% 0.019 256.1);
  --destructive: oklch(55% 0.22 27);
  --border: oklch(81.517% 0.01 256.1);
  --input: oklch(80% 0.039 256.1);
  --ring: oklch(55% 0.21082 256.1);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(101.5% 0.002 256.1);
  --sidebar-foreground: oklch(37% 0.039 256.1);
  --sidebar-primary: oklch(61.517% 0.21082 256.1);
  --sidebar-primary-foreground: oklch(96% 0.015 256.1);
  --sidebar-accent: oklch(94% 0.04 256.1);
  --sidebar-accent-foreground: oklch(42% 0.019 256.1);
  --sidebar-border: oklch(93% 0.01 256.1);
  --sidebar-ring: oklch(55% 0.21082 256.1);
}
.dark {
  --background: oklch(12.5% 0.029 256.1);
  --foreground: oklch(91% 0.065 256.1);
  --card: oklch(15.5% 0.029 256.1);
  --card-foreground: oklch(91% 0.065 256.1);
  --popover: oklch(21% 0.029 256.1);
  --popover-foreground: oklch(91% 0.065 256.1);
  --primary: oklch(61.517% 0.21082 256.1);
  --primary-foreground: oklch(94% 0.015 256.1);
  --secondary: oklch(29% 0.025 256.1);
  --secondary-foreground: oklch(86% 0.06 256.1);
  --muted: oklch(26% 0.025 256.1);
  --muted-foreground: oklch(86% 0.06 256.1);
  --accent: oklch(30% 0.1 256.1);
  --accent-foreground: oklch(86% 0.06 256.1);
  --destructive: oklch(55% 0.22 27);
  --border: oklch(38% 0.012 256.1);
  --input: oklch(40% 0.065 256.1);
  --ring: oklch(80% 0.07 256.1);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(18% 0.029 256.1);
  --sidebar-foreground: oklch(91% 0.065 256.1);
  --sidebar-primary: oklch(61.517% 0.21082 256.1);
  --sidebar-primary-foreground: oklch(94% 0.015 256.1);
  --sidebar-accent: oklch(33% 0.1 256.1);
  --sidebar-accent-foreground: oklch(86% 0.06 256.1);
  --sidebar-border: oklch(13% 0.012 256.1);
  --sidebar-ring: oklch(80% 0.07 256.1);
}
